import random
import tkinter


def draw(event):
    x = random.randint(0, 500)
    y = random.randint(0, 500)
    radius = random.randint(50, 150)
    canvas.create_oval((x, y), (x + radius, y + radius), fill='red')
    return


master = tkinter.Tk()
canvas = tkinter.Canvas(master, bg='blue', height=600, width=600)
canvas.pack()
master.bind("<KeyPress>", draw)
master.mainloop()
